page-login2 {
    // This is just to make the header transparent and button/icon with white color
    .toolbar-content,
    span {
        color: white;
    }
    .toolbar-background,
    ion-navbar,
    ion-header {
        background: transparent !important;
        background-color: transparent !important;
    }
    .header-md::after,
    .toolbar-background-ios {
        background-image: none;
        border-bottom: 0;
    }
    // Footer
    ion-footer {
        height: 47px;
    }
    .footer {
        text-align: center;
        background: rgba(255, 255, 255, .06);
        min-height: 47px;
    }
    .footer-md::before {
        background-image: none;
    }
    // Fullscreen animated rainbow gradient
    ion-content {
        background-image: url(http://ecupservice.ffiri.ir/images/texture.png);
        background-repeat: repeat;
        background-size: 1800% 1800%;
        animation: rainbow 30s linear infinite;
    }
    // Content
    .scroll-content {
        display: flex;
        flex-direction: column;
        overflow: hidden;
    }
    .logo {
        width: 50%;
        height: auto;
        margin: 0 auto;
        padding-top: 50px;
        max-width: 200px;
    }
    .navigation {
        float: right;
        direction: rtl;
    }
    .navigation a {
        color: rgba(255, 255, 255, 0.75);
        font-size: 13px;
        font-weight: 700;
        margin-left: 40px;
        text-transform: uppercase;
    }
    .white {
        color: rgba(255, 255, 255, 0.75);
    }
    ul,
    ol {
        margin: 0;
        padding: 0;
    }
    ul {
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }
    .footer {
        text-align: center;
    }
    .footer-top {
        background-color: #594aac;
        padding-top: 50px;
    }
    body {
        font-family: yekan, byekan;
        font-weight: 400;
        color: #6c7279;
    }
    .navigation li {
        display: inline-block;
    }
    ul li {
        list-style: none;
        margin-left: 20px;
    }
    // Input items
    ion-item {
        border-radius: 3px !important;
        padding-left: 10px !important;
        margin-bottom: 15px !important;
        margin-bottom: 10px;
        color: #fff !important;
        background-color: rgba(255, 255, 255, .2) !important;
        font-size: 0.9em;
    }
     ::-webkit-input-placeholder {
        color: white !important;
    }
    .item-inner {
        border-bottom: 0 !important;
        box-shadow: none !important;
    }
    // --
    .login-button {
        text-transform: none;
        border-radius: 3px !important;
    }
    // eeta icon
    ion-icon {
        padding-right: 10px;
        font-size: 2.2rem;
    }
    // HR with text in the middle effect
    .strike {
        display: block;
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
    }
    .strike>span {
        position: relative;
        display: inline-block;
        font-weight: bold;
    }
    .strike>span:before,
    .strike>span:after {
        content: "";
        position: absolute;
        top: 50%;
        width: 9999px;
        height: 1px;
    }
    .strike>span:before {
        right: 100%;
        margin-right: 15px;
    }
    .strike>span:after {
        left: 100%;
        margin-left: 15px;
    }
}