<ion-header>
  <ion-navbar>
      <nav class="navigation iranyekan" role="navigation">
          <ul class="primary-nav">
              <li><a href="/reg">ثبت نام</a></li>
              <li><a href="#download">قوانین</a></li>
              <li><a href="#testimonials">جدول مسابقات</a></li>
              <li><a href="#teams">آمار بازی</a></li>
              <li><a href="#works" class="">گالری</a></li>
              <li><a href="#features" class="">اخبار</a></li>
          </ul>
      </nav>
    <ion-title class="white">
      تکمیل اطلاعات
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content dir="rtl" class="iranyekan white">

    <ion-item>
      <ion-input [(ngModel)]="name" (ionChange)="modified()" type="text" placeholder="نام"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="family" (ionChange)="modified()" type="text" placeholder="نام خانوادگی"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [disabled]="true" [(ngModel)]="mobile" (ionChange)="modified()" type="text" placeholder="موبایل"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="email" (ionChange)="modified()" type="text" placeholder="ایمیل"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="national_code" (ionChange)="checkNID()" type="text" placeholder="کد ملی"></ion-input>
    </ion-item>

    <ion-item class="danger" *ngIf="!flagNID">
      لطفا عدد کدملی خود را کامل و صحیح وارد کنید
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="psn_id" (ionChange)="checkPSN()" type="text" placeholder="پلی استیشن آی دی"></ion-input>
    </ion-item>

    <ion-item class="danger" *ngIf="!flagPSN">
      لطفا آی دی را وارد کنید
    </ion-item>


    <ion-item>
      <ion-label>قصد شرکت در کدام مسابقه را دارید؟</ion-label>
      <ion-select (ionChange)="modified()" [(ngModel)]="type" value="onlinefriendlies" okText="ثبت" cancelText="انصراف">
        <ion-option value="Online Friendlies">Online Friendlies</ion-option>
        <ion-option value="FUT">FUT</ion-option>
      </ion-select>
    </ion-item>

    <button [disabled]="!change" ion-button block outline (click)="save()"
      class="login-button white">ذخیره</button>
</ion-content>
