<ion-header>
  <ion-navbar>
    <ion-title>
      تکمیل اطلاعات
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content dir="rtl" class="iranyekan">

    <ion-item>
      <ion-input [(ngModel)]="name" (ionChange)="modified()" type="text" placeholder="نام"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="family" (ionChange)="modified()" type="text" placeholder="نام خانوادگی"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [disabled]="true" [(ngModel)]="mobile" (ionChange)="modified()" type="text" placeholder="موبایل"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="email" (ionChange)="modified()" type="text" placeholder="ایمیل"></ion-input>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="national_code" (ionChange)="checkNID()" type="text" placeholder="کد ملی"></ion-input>
    </ion-item>

    <ion-item class="danger" *ngIf="!flagNID">
      لطفا عدد کدملی خود را کامل و صحیح وارد کنید
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="psn_id" (ionChange)="checkPSN()" type="text" placeholder="پلی استیشن آی دی"></ion-input>
    </ion-item>

    <ion-item class="danger" *ngIf="!flagPSN">
      لطفا آی دی را وارد کنید
    </ion-item>

    <button [disabled]="!change" ion-button block outline (click)="save()"
      class="login-button">ذخیره</button>
</ion-content>
